
/AUTHORS
/sourceInsight
*.obj
*.o
*.html
*.d
*.lst
*.txt
*.htm
*.pyc
*.py
*.bak
*.vc9
*.vc6
*.jpg
*.ppm
*.dos
*.map
*.axf
*.dep
*.crf
*.uvopt
*.bin

*.svn-base
*.svn
*.uvgui.*

/components/external/SConscript
/components/SConscript
/app/DT3102-CC/V2.5/prj/Out
/app/DT3102-CC/V2.5/prj/lst
/app/DT3102-CC/V2.5/doc
/source project
/simulation
/app/DT3102-CC/V2.5/simulation
/app/DT3102-CC/V2.5/sdk/*.tmp
